<% layout('layouts/boilerplate') %>

    <body>
        <br>
        <div class="row">
            <div class="col-8 offset-2">
            <h1>Enter Listing Detail</h1>
            <form method="POST" action="/listings" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" id="title" name="listing[title]" class=form-control required>
                    <div class="invalid-feedback">Title Should be Valid</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea id="description" name="listing[description]" class=form-control
                        placeholder="Enter Description" required></textarea>
                        <div class="invalid-feedback">Please Enter a Short Description</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="url" id="image" name="listing[image]" class=form-control
                        placeholder="Enter Image URL/Link" required>
                </div>
                <div class="row">
                <div class="mb-3 col-md-4" >
                    <label for="price" class="form-label">Price:</label>
                    <input type="text" id="price" name="listing[price]" class=form-control required>
                    <div class="invalid-feedback">Price Should be Valid</div>
                </div>

                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country:</label>
                    <input type="text" id="country" name="listing[country]" class=form-control required>
                    <div class="invalid-feedback">Country Name Should be Valid</div>
                </div>
            </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" id="location" name="listing[location]" class=form-control required>
                    <div class="invalid-feedback">Location Should be Valid</div>
                </div>
                <button type="submit" class="btn btn-dark add-btn mt-3">Create</button>
                <a href="/listings" class="btn btn-dark mt-3">Back to Listings</a>
            </form>
            <br>
        </div>
        </div>
    </body>